<%= form_for socialview do |f| %>
  <%= f.error_messages %>
  <p>
    <% f.label :tag %>
    <%= f.text_field :tag, :placeholder => "#hashtag" %>
  </p>

   <div class="actions">
    <%= f.submit "Let's Hashtag This!", :class => "btn btn-success btn-lg" %>
  </div>

<% end %>
