
  <div class="new-party">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <div class="jumbotron">
        <h2>Add your event details</h2>
        <%= render "form" %>
    </div>

    <div class="col-md-4"></div>
  </div>


