---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/seattle/media/recent?client_id=0ea9e3be443f47908a2d21a03e3cae16
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1377732590071","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1377732590071","next_min_id":"1377732712502","min_tag_id":"1377732712502","next_url":"https:\/\/api.instagram.com\/v1\/tags\/seattle\/media\/recent?client_id=0ea9e3be443f47908a2d21a03e3cae16\u0026max_tag_id=1377732590071"},"meta":{"code":200},"data":[{"attribution":null,"tags":["businesstraveler","instagram","americana","greatoutdoors","pugetsound","instagood","snapseed","sunset","polarizer","rx100","instashot","sony","seattle","pacificnorthwest"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1377707444","link":"http:\/\/instagram.com\/p\/dkEpjMTcYV\/","likes":{"count":1,"data":[{"username":"ericsilverman87","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_8191796_75sq_1369237533.jpg","id":"8191796","full_name":"Eric
        Silverman"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage9.s3.amazonaws.com\/2fe5cf220fff11e3895a22000a1fc66c_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage9.s3.amazonaws.com\/2fe5cf220fff11e3895a22000a1fc66c_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage9.s3.amazonaws.com\/2fe5cf220fff11e3895a22000a1fc66c_7.jpg","width":612,"height":612}},"users_in_photo":[],"caption":{"created_time":"1377707512","text":"Image
        created with #Snapseed #pugetsound #polarizer #sunset #greatoutdoors #pacificnorthwest
        #seattle #sony #rx100 #instagood #instagram #instashot #americana #businesstraveler","from":{"username":"lensjones","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_12054976_75sq_1368057176.jpg","id":"12054976","full_name":"lensjones"},"id":"532571670335833388"},"type":"image","id":"532571103408539157_12054976","user":{"username":"lensjones","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_12054976_75sq_1368057176.jpg","full_name":"lensjones","bio":"","id":"12054976"}},{"attribution":null,"tags":["spaceneedle","downtownseattle","nightlife","home","mycity","seattle"],"location":null,"comments":{"count":0,"data":[]},"filter":"Lo-fi","created_time":"1377707445","link":"http:\/\/instagram.com\/p\/dkEpquk9HT\/","likes":{"count":3,"data":[{"username":"gotthatworkbby","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_241268268_75sq_1373493342.jpg","id":"241268268","full_name":"Snoopy"},{"username":"pisarenko","profile_picture[...]
