
<div class="rsvp-confirmation">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="jumbotron">
      <h2>You are now confirmed</h2>
      <h2>for a total of <%= @rsvp.guests %> guests</h2>
      <br />

      <h4><em>Get snazzy!</em></h4>
      <br />

      <h6><%= link_to "Home", home_path %></h6>
  </div>

  <div class="col-md-4"></div>
  </div>
</div>


